RestApi/__pycache__/*
.idea/*
EmplyeeInfromation/__pycache__/*
__pycache__/*
api/__pycache__/*
*.pyc
EmplyeeInfromation/__pycache__/PushNotification.cpython-36.pyc
EmplyeeInfromation/__pycache__/chatAnalysis.cpython-36.pyc
db.sqlite3
.vscode/*
.vs/*
.settings.py.swp
ad.log
EmplyeeInfromation/migrations/*
automation/__pycache__/*
EmplyeeInfromation/migrations2/*
api/__pycache__/*
automation/.pytest_cache/

